<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014-2016 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honorzhang.postgresql.mapper.MapElementMapper">
    <resultMap id="MapElementMap" type="com.honorzhang.postgresql.model.MapElement">
        <id property="id" column="id"/>
        <result property="name" javaType="String" jdbcType="VARCHAR" column="name"/>
        <result property="latitude" javaType="Double" jdbcType="REAL" column="latitude"/>
        <result property="longitude" javaType="Double" jdbcType="REAL" column="longitude"/>
        <result property="geoStr" javaType="String" jdbcType="VARCHAR" column="element_location"/>
    </resultMap>


    <!--查询全部-->
    <select id="findAll" resultMap="MapElementMap">
        SELECT id, name, longitude, latitude,
            ST_AsGeoJson(element_location) as element_location

            FROM map_elements
    </select>

    <select id="findById" parameterType="Long" resultMap="MapElementMap">
        SELECT id, name, longitude, latitude,
            ST_AsGeoJson(element_location) as element_location

            FROM map_elements
            where id = #{id}
    </select>

    <update id="updateMapElement"  parameterType="com.honorzhang.postgresql.model.MapElement" useGeneratedKeys="true" keyProperty="id" >
        UPDATE map_elements
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="longitude!=null">longitude=#{longitude},</if>
            <if test="latitude!=null">latitude=#{latitude},</if>
            <if test="geoStr!=null">element_location=ST_GeomFromText(#{geoStr}, 4326),</if>

        </trim>
        WHERE id=#{id}
    </update>


    <insert id="addMapElement" parameterType="com.honorzhang.postgresql.model.MapElement" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT nextval('map_elements_id_seq'::regclass)
        </selectKey>
        insert into map_elements(name, longitude, latitude, element_location)
        values (#{name}, #{longitude}, #{latitude}, ST_GeomFromText(#{geoStr}, 4326))
    </insert>

<!--        id删除-->
    <delete id="deleteMapElement" parameterType="Long">
        delete from map_elements where id = #{id}
    </delete>

<!--    条件查询-->
    <select id="findMapElementByCondition" parameterType="com.honorzhang.postgresql.model.MapElement" resultMap="MapElementMap">
        select  id, name, longitude, latitude,
            ST_AsGeoJson(element_location) as element_location
        FROM map_elements
        where 1 = 1
        <if test="name != null" >
            and name like #{name}
        </if>
        <if test="longitude > 0">
            and longitude = #{longitude}
        </if>
        <if test="latitude > 0">
            and latitude = #{latitude}
        </if>
    </select>


<!--        圆形区域查询-->
    <select id="findMapElementByCircle" resultMap="MapElementMap">
        SELECT id, name, longitude, latitude, ST_AsGeoJson(element_location) as element_location
        from map_elements
        where ST_DWithin(element_location :: geography, ST_GeomFromText('POINT' || #{geometry}, 4326 ) :: geography, #{radius} ) IS TRUE
    </select>

    <!--    多边形区域查询-->
    <select id="findMapElementByPolygon" parameterType="String" resultMap="MapElementMap">
        SELECT id, name,longitude, latitude,
        ST_AsGeoJson(element_location) as element_location
        from map_elements
        where ST_Contains( ST_MakePolygon(ST_GeomFromText('LINESTRING' || #{geometry}, 4326)) , element_location) = 't'

    </select>

    <insert id="addTest" parameterType="java.util.Map">
        insert into test_insert(fire_id, people_id)
        values
        <foreach collection="testList" item="item" index="index" separator=",">
            (#{item.fireTeamId}, #{item.fireTeamEquipmentId})
        </foreach>
    </insert>


</mapper>